<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update book</title><link rel="stylesheet" type="text/css" href="/styles.css"></link>
</head>
<body>
    <%- include('navbar') %>
    <div class="container">
        <% if(locals.errors) { %>
                <div>
                    <% errors.forEach(error => { %>
                        <p><%= error.msg %></p>
                    <% }) %>
                </div>
        <% } %>  
        <form action="/book/<%= book.id %>/update" method="post">
            <label for="title">title</label>
            <input type="text" name="title" value="<%= book.title %>">

            <label for="price">price</label>
            <input type="number" name="price" value="<%= book.price %>">

            <label for="author">author (id)</label>
            <input type="number" name="author" value="<%= book.author %>">

            <label for="category">category (id)</label>
            <input type="number" name="category" value="<%= book.category %>">

            <label for="stock">stock amount</label>
            <input type="number" name="stock" value="<%= book.stock %>">

            <label for="year">year</label>
            <input type="number" name="year" value="<%= book.year %>">

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>